<div class="banner">
  <div class="container">
    <h1>Save any kind of <strong>movies</strong></h1>
  </div>
</div>

<div class="container text-center">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-movie">
        <h2><%= link_to list.name, list_path(list.id) %></h2>
      </div>
    <% end %>
  </div>
</div>
