<div class="container text-center">
  <%# <div class=" d-flex justify-content-between mb-4 align-items-center">
      <h3>My lists</h3>
  </div> %>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card">
        <h2><%= link_to list.name, list_path(list.id) %></h2>
      </div>
    <% end %>
  </div>
</div>
