<div class="banner">
  <div class="container">
    <h1><strong>Create new movie list</strong></h1>
  </div>
</div>

<div class="container col-4 pt-5">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.submit class: "btn btn-outline-dark"%>
  <% end %>
</div>
